.slider-home
	.slider-item
		.slider-column
			.slider-caption
				h1 AMSI, Wadah Bagi Media Siber di Indonesia
				p AMSI dengan sebuat tekad, menjadikan media siber di Indonesia kian profesional, dipercaya, independen, dan membawa kesejahteraan bagi anggotanya.
				a(href="tentang-kami-sejarah-amsi.html").btn.btn-outline-primary Selengkapnya
		.slider-column
			.slider-image
				<img class="img-responsive" src="assets/img/slider/slider-home-1.png">
	.slider-item
		.slider-column
			.slider-caption
				h1 Slider Kedua lorem Ipsum Dollor Sit Amet
				p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio dolorem, incidunt aut sapiente dolor laborum sunt mollitia suscipit amet reprehenderit expedita fugit?
				a(href="tentang-kami-visi-misi.html").btn.btn-outline-primary Selengkapnya
		.slider-column
			.slider-image
				<img class="img-responsive" src="assets/img/slider/slider-home-1.png">
	.slider-item
		.slider-column
			.slider-caption
				h1 Odio dolorem, incidunt aut sapiente dolor laborum sunt
				p Vero quis deleniti dicta reiciendis nihil quasi assumenda iure voluptatum unde dolore aliquid pariatur minus fuga sequi quos. Aspernatur nostrum velit cumque. Odit, vel ipsa!
				a(href="tentang-kami-isu-strategis.html").btn.btn-outline-primary Selengkapnya
		.slider-column
			.slider-image
				<img class="img-responsive" src="assets/img/slider/slider-home-1.png">