section.section.section-area(data-aos="fade-up" data-aos-duration="500")
	.container
		.section-area-container(data-aos="fade-up" data-aos-duration="500")
			.row
				.col-lg-6(data-aos="fade-left" data-aos-duration="1000")
					ul.section-image-slick.section-image-slick-1
						li
							img(src="/asset/img/image-slick-area-1.png" alt="")
						li
							img(src="/asset/img/image-slick-area-2.png" alt="")
						li
							img(src="/asset/img/image-slick-area-3.png" alt="")
				.col-lg-6
					.section-subtitle Explore
					h3 East Japan
					.section-content
						div(data-aos="fade-up" data-aos-duration="1000")
							p
								|Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
								|Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it 
								|to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
							.section-button
								a(href="#" class="btn btn-primary") Learn More

						ul(class="section-slider-nav-slick nav-slick-section-1" data-aos="fade-up" data-aos-duration="1000")
							li(data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000")
								img(src="/asset/img/image-welcome-1.png" alt="")
							li(data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000")
								img(src="/asset/img/image-welcome-2.png" alt="")
							li(data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000")
								img(src="/asset/img/image-welcome-3.png" alt="")

		.section-area-container(data-aos="fade-up" data-aos-duration="500")
			.row
				.col-lg-6
					.section-subtitle Explore
					h3 West Japan
					.section-content
						div(data-aos="fade-up" data-aos-duration="1000")
							p
								|Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
								|Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it 
								|to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
							.section-button
								a(href="#" class="btn btn-primary") Learn More
						ul(class="section-slider-nav-slick nav-slick-section-2" data-aos="fade-up" data-aos-duration="1000")
							li(data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000")
								img(src="/asset/img/image-welcome-1.png" alt="")
							li(data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000")
								img(src="/asset/img/image-welcome-2.png" alt="")
							li(data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000")
								img(src="/asset/img/image-welcome-3.png" alt="")
								
				.col-lg-6(data-aos="fade-left" data-aos-duration="1000")
					ul(class="section-image-slick section-image-slick-2")
						li
							img(src="/asset/img/image-slick-area-1.png" alt="")
						li
							img(src="/asset/img/image-slick-area-2.png" alt="")
						li
							img(src="/asset/img/image-slick-area-3.png" alt="")
