section.section.section-why(data-aos="fade-up" data-aos-duration="500")
	.container
		h3.text-center WHY TRAVEL WITH MAYA ELITE TOUR
		.section-content
			.row
				.col-md-6
					.card.border-0(data-aos="fade-up" data-aos-duration="500" data-aos-delay="100")
						.card-body.p-0
							.card-icon
								img(src="/asset/img/icon-why-1.png" alt="")
							h5.card-title Professional Guide
							p.card-text
								|Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
								|Ut wisi enim ad minim veniam, quis nostrud exerci 
				.col-md-6
					.card.border-0(data-aos="fade-up" data-aos-duration="500" data-aos-delay="300")
						.card-body.p-0
							.card-icon
								img(src="/asset/img/icon-why-2.png" alt="")
							h5.card-title 100% Trusted Tour Agency
							p.card-text
								|Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
								|Ut wisi enim ad minim veniam, quis nostrud exerci 
				.col-md-6
					.card.border-0(data-aos="fade-up" data-aos-duration="500" data-aos-delay="500")
						.card-body.p-0
							.card-icon
								img(src="/asset/img/icon-why-3.png" alt="")
							h5.card-title 99% of Our Clients are Happy
							p.card-text
								|Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
								|Ut wisi enim ad minim veniam, quis nostrud exerci 
				.col-md-6
					.card.border-0(data-aos="fade-up" data-aos-duration="500" data-aos-delay="700")
						.card-body.p-0
							.card-icon
								img(src="/asset/img/icon-why-4.png" alt="")
							h5.card-title 10+ Years of Travel Experience
							p.card-text
								|Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
								|Ut wisi enim ad minim veniam, quis nostrud exerci 

	.container-fluid
		.section-testimoni(data-aos="fade-up" data-aos-duration="500" data-aos-delay="1000")
			.testimoni-slider
				div
					.card.border-0
						.card-image
							img(src="/asset/img/foto-testi-1.png" alt="")
						.card-body
							.rating
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
							.card-title
								|Ramonda 
								span / South Africa
							p
								|Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
								|sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
				div
					.card.border-0
						.card-image
							img(src="/asset/img/foto-testi-2.png" alt="")
						.card-body
							.rating
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
							.card-title
								|Anastasia 
								span / Italia
							p
								|Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
								|sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
				div
					.card.border-0
						.card-image
							img(src="/asset/img/foto-testi-3.png" alt="")
						.card-body
							.rating
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star.gray
							.card-title
								|Andy Caroll 
								span / England
							p
								|Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
								|sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
				div
					.card.border-0
						.card-image
							img(src="/asset/img/foto-testi-4.png" alt="")
						.card-body
							.rating
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star.gray
							.card-title
								|Jack Morgan 
								span / United State
							p
								|Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
								|sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
				div
					.card.border-0
						.card-image
							img(src="/asset/img/foto-testi-1.png" alt="")
						.card-body
							.rating
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
							.card-title
								|Ramonda 
								span / South Africa
							p
								|Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
								|sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
				div
					.card.border-0
						.card-image
							img(src="/asset/img/foto-testi-2.png" alt="")
						.card-body
							.rating
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
							.card-title
								|Anastasia 
								span / Italia
							p
								|Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
								|sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
				div
					.card.border-0
						.card-image
							img(src="/asset/img/foto-testi-3.png" alt="")
						.card-body
							.rating
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star.gray
							.card-title
								|Andy Caroll 
								span / England
							p
								|Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
								|sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
				div
					.card.border-0
						.card-image
							img(src="/asset/img/foto-testi-4.png" alt="")
						.card-body
							.rating
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star.gray
							.card-title
								|Jack Morgan 
								span / United State
							p
								|Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
								|sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
