section.section.section-faq.no-divider(data-aos="fade-up" data-aos-duration="500")
	.container
		h3.text-center ENJOY OUR BEST QUALITY TOUR & EXPERIENCE
		.section-content
			.row
				.col-lg-6
					#accordion.accordion
						.card.mb-0
							.card-header.collapsed(data-toggle="collapse" href="#faq1")
								a(href="javascript:;" class="card-title")
									|1. What to prepare trip to Japan
							#faq1.card-body.collapse(data-parent="#accordion")
								p
									|Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
									|Ut wisi enim ad minim veniam, quis nostrud exerci 
						.card.mb-0
							.card-header.collapsed(data-toggle="collapse" href="#faq2")
								a(href="javascript:;" class="card-title")
									|2. What document you need before go to Japan
							#faq2.card-body.collapse(data-parent="#accordion")
								p
									|Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
									|Ut wisi enim ad minim veniam, quis nostrud exerci
						.card.mb-0
							.card-header.collapsed(data-toggle="collapse" href="#faq3")
								a(href="javascript:;" class="card-title")
									|3. How to scheduling Japan trip itinerary
							#faq3.card-body.collapse(data-parent="#accordion")
								p
									|Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
									|Ut wisi enim ad minim veniam, quis nostrud exerci 
				.col-lg-6
					#accordion.accordion
						.card.mb-0
							.card-header.collapsed(data-toggle="collapse" href="#faq4")
								a(href="javascript:;" class="card-title")
									|4. What to prepare trip to Japan
							#faq4.card-body.collapse(data-parent="#accordion")
								p
									|Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
									|Ut wisi enim ad minim veniam, quis nostrud exerci 
						.card.mb-0
							.card-header.collapsed(data-toggle="collapse" href="#faq5")
								a(href="javascript:;" class="card-title")
									|5. What document you need before go to Japan
							#faq5.card-body.collapse(data-parent="#accordion")
								p
									|Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
									|Ut wisi enim ad minim veniam, quis nostrud exerci 
						.card.mb-0
							.card-header.collapsed(data-toggle="collapse" href="#faq6")
								a(href="javascript:;" class="card-title")
									|6. How to scheduling Japan trip itinerary
							#faq6.card-body.collapse(data-parent="#accordion")
								p
									|Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
									|Ut wisi enim ad minim veniam, quis nostrud exerci 
