section.section.section-cta.no-divider(data-aos="fade-up" data-aos-duration="500" style="background-image: url('/asset/img/cta-bg.png');")
	.container
		.section-content
			.desc
				h3.text-center Get Closer With Us & Get Special Tour Experience
				p
					|Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
				.button.text-center
					a(href="contact-us.html" class="btn btn-primary btn-lg") Contact Us