section.section.section-recommended.container-fluid(data-aos="fade-up" data-aos-duration="500")
	.container
		h3.text-center MOST RECOMMENDED PLACES
	
	.section-content
		.recommended-bg(style="background-image: url('/asset/img/bg-parallax.png');")
		.slider-recommended
			.list-recommended(data-img="/asset/img/sapporo-snow-festival.jpg")
				h4 SAPPORO SNOW FESTIVAL
				.link
					a(href="#") VIEW MORE
			.list-recommended(data-img="/asset/img/moere_autumn.jpg")
				h4 MOERENUMA PARK
				.link
					a(href="#") VIEW MORE
			.list-recommended(data-img="/asset/img/bg-parallax.png")
				h4 MOUNT MOIW
				.link
					a(href="#") VIEW MORE
			.list-recommended(data-img="/asset/img/teine.jpg")
				h4 TEINE SKI RESORT
				.link
					a(href="#") VIEW MORE
			.list-recommended(data-img="/asset/img/saporo.jpg")
				h4 SAPPORO FACTORY
				.link
					a(href="#") VIEW MORE
			.list-recommended(data-img="/asset/img/moere_autumn.jpg")
				h4 MOERENUMA PARK
				.link
					a(href="#") VIEW MORE
