section.section.section-map.no-divider(data-aos="fade-up" data-aos-duration="500")
	.container
		#map.map-area(data-region="all" data-json="/asset/sample-data/map-data.json")
		#x
		#y
		#customTip.custom-tip-map