@font-face {
    font-family: 'back_to_black';
    src: url('/asset/font/backtoblack/back_to_black_demo-webfont.woff2') format('woff2'),
         url('/asset/font/backtoblack/back_to_black_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'miller';
    src: url('/asset/font/miller/miller_display_roman-webfont.woff2') format('woff2'),
         url('/asset/font/miller/miller_display_roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-regular';
    src: url('/asset/font/montserrat/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-medium';
    src: url('/asset/font/montserrat/Montserrat-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-semibold';
    src: url('/asset/font/montserrat/Montserrat-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-bold';
    src: url('/asset/font/montserrat/Montserrat-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-black';
    src: url('/asset/font/montserrat/Montserrat-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}