- var title = "Reservation - Maya Elite Tour"
- var page = "level1page"
include ./component/mixins.pug

doctype html 
html(lang="en")
	head 
		include ./include/head.pug
	body 
		.wrapper
			include ./include/header.pug

			#mainContent
				section.section.section-page-header
					.img-bg.parallax-item(style="background-image: url(asset/img/page-banner-2.png);")
					//- .img-bg
					//- 	img(src="asset/img/page-banner-2.png" alt="")

				section.section.section-welcome.no-divider(data-aos="fade-up" data-aos-duration="500")
					.container
						.row
							.col-md-6
								.block-page-title
									h1.h1-medium
										span CHOOSE 
										span YOUR 
										span RESERVATION
							.col-md-6
								ul.section-image
									li(data-aos="fade-up" data-aos-delay="100" data-aos-duration="500")
										img(src="/asset/img/image-welcome-1.png" alt="")
									li(data-aos="fade-up" data-aos-delay="400" data-aos-duration="500")
										img(src="/asset/img/image-welcome-2.png" alt="")
									li(data-aos="fade-up" data-aos-delay="800" data-aos-duration="500")
										img(src="/asset/img/image-welcome-3.png" alt="")

				section.section.section-box-tile.no-divider(data-aos="fade-up" data-aos-duration="500")
					.container
						h3.text-center YOUR OWN TOUR
						.section-content
							.box-layout 
								.box-list
									.box-list_image 
										img(src="/asset/img/image-tile-1.png", alt="")
									.box-list_title-fixed Tailor Made Trips
									.box-list-desc
										div
											.box-list_subtitle RESERVATION
											.box-list_title Tailor Made Trips
											.box-list_p 
												|Lorem ipsum dolor sit amet consectetur adipisicing elit. 
												|Quasi nemo explicabo nam sunt dolorum cumque quis? Ut impedit, soluta id, suscipit dolorum deserunt tempora praesentium quos hic aliquid rem officia.
											.box-list_button 
												a(href="reservation-tailormadetrips.html").btn.btn-light Learn More  
								.box-list
									.box-list_image 
										img(src="/asset/img/image-tile-2.png", alt="")
									.box-list_title-fixed Packages Tour
									.box-list-desc
										div
											.box-list_subtitle RESERVATION
											.box-list_title Packages Tour
											.box-list_p 
												|Lorem ipsum dolor sit amet consectetur adipisicing elit. 
												|Quasi nemo explicabo nam sunt dolorum cumque quis? Ut impedit, soluta id, suscipit dolorum deserunt tempora praesentium quos hic aliquid rem officia.
											.box-list_button 
												a(href="#").btn.btn-light Learn More  
								.box-list
									.box-list_image 
										img(src="/asset/img/teine.jpg", alt="")
									.box-list_title-fixed Coorporate  & Time Building
									.box-list-desc
										div
											.box-list_subtitle RESERVATION
											.box-list_title Coorporate  & Time Building
											.box-list_p 
												|Lorem ipsum dolor sit amet consectetur adipisicing elit. 
												|Quasi nemo explicabo nam sunt dolorum cumque quis? Ut impedit, soluta id, suscipit dolorum deserunt tempora praesentium quos hic aliquid rem officia.
											.box-list_button 
												a(href="#").btn.btn-light Learn More

				section.section(data-aos="fade-up" data-aos-duration="500")
					.container
						.section-content 
							.row 
								.col-lg-4 
									h3 Make Your Reservation
									p.mt-3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nemo explicabo nam sunt dolorum cumque quis? Ut impedit

								.col-lg-8 
									include ./component/reservation-form.pug

				include ./component/section-home-faq.pug
				include ./component/section-home-cta.pug

		include ./include/footer.pug
		include ./component/menu-mobile.pug
		include ./include/script.pug