- var title = "Season Highlight - Maya Elite Tour"
- var page = "level1page"
include ./component/mixins.pug

doctype html 
html(lang="en")
	head 
		include ./include/head.pug
	body 
		.wrapper
			include ./include/header.pug

			#mainContent
				section.section.section-page-header
					.img-bg.parallax-item(style="background-image: url(asset/img/teine.jpg);")
					//- .img-bg
					//- 	img(src="asset/img/page-banner-1.png" alt="")

				section.section.section-welcome.no-divider(data-aos="fade-up" data-aos-duration="500")
					.container
						.row
							.col-md-6
								.block-page-title
									h1.h1-medium
										span SEASON  
										span HIGHLIGHT
							.col-md-6
								ul.section-image
									li(data-aos="fade-up" data-aos-delay="100" data-aos-duration="500")
										img(src="/asset/img/image-welcome-1.png" alt="")
									li(data-aos="fade-up" data-aos-delay="400" data-aos-duration="500")
										img(src="/asset/img/image-welcome-2.png" alt="")
									li(data-aos="fade-up" data-aos-delay="800" data-aos-duration="500")
										img(src="/asset/img/image-welcome-3.png" alt="")
						
						.section-content
							div(data-aos="fade-up" data-aos-duration="1000")
								h4.text-center.mb-4 FOUR SEASON IN JAPAN
								p
									|Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
									|Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it 
									|to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
									|Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
									|Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it 
									|to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

				section.section(data-aos="fade-up" data-aos-duration="500")
					.container
						h3.text-center WINTER
						h5.text-center Desember - March
						.section-content
							p 
								|Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
								|Ut wisi enim ad minim veniam, quis nostrud exerci 
								|Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
								|Ut wisi enim ad minim veniam, quis nostrud exerci 

							.row.mt-5
								.col-lg-4.col-md-6 
									.card.card-custom.with-hover 
										.card-image 
											img(src="asset/img/page-banner-4.png", alt="")
										.card-body
											a(href="region-eastjapan.html").card-subtitle East Japan
											h5.card-title 
												a(href="#") Lorem Ipsum
											.card-p 
												|Around 1300 years ago, two sculptors carved two Kannon statues out of a sacred tree. One of them was enshrined here at Hasedera in Kamakura. It is commonly called “Eleven-headed Kannon” since it has eleven heads on top of its own head. It measures 9.18 meters tall and this makes it one of the largest wooden Buddhist statues in Japan.

								.col-lg-4.col-md-6 
									.card.card-custom.with-hover 
										.card-image 
											img(src="asset/img/page-banner-4.png", alt="")
										.card-body
											a(href="region-eastjapan.html").card-subtitle East Japan
											h5.card-title 
												a(href="#") Lorem Ipsum
											.card-p 
												|Around 1300 years ago, two sculptors carved two Kannon statues out of a sacred tree. One of them was enshrined here at Hasedera in Kamakura. It is commonly called “Eleven-headed Kannon” since it has eleven heads on top of its own head. It measures 9.18 meters tall and this makes it one of the largest wooden Buddhist statues in Japan.

								.col-lg-4.col-md-6 
									.card.card-custom.with-hover 
										.card-image 
											img(src="asset/img/page-banner-4.png", alt="")
										.card-body
											a(href="region-eastjapan.html").card-subtitle East Japan
											h5.card-title 
												a(href="#") Lorem Ipsum
											.card-p 
												|Around 1300 years ago, two sculptors carved two Kannon statues out of a sacred tree. One of them was enshrined here at Hasedera in Kamakura. It is commonly called “Eleven-headed Kannon” since it has eleven heads on top of its own head. It measures 9.18 meters tall and this makes it one of the largest wooden Buddhist statues in Japan.
							
							.button.text-center.mt-3
								a(href="#").btn.btn-primary Learn More

				section.section(data-aos="fade-up" data-aos-duration="500")
					.container
						h3.text-center SPRING
						h5.text-center March - May
						.section-content
							p 
								|Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
								|Ut wisi enim ad minim veniam, quis nostrud exerci 
								|Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
								|Ut wisi enim ad minim veniam, quis nostrud exerci 

							.row.mt-5
								.col-lg-4.col-md-6 
									.card.card-custom.with-hover 
										.card-image 
											img(src="asset/img/page-banner-4.png", alt="")
										.card-body
											a(href="region-eastjapan.html").card-subtitle East Japan
											h5.card-title 
												a(href="#") Lorem Ipsum
											.card-p 
												|Around 1300 years ago, two sculptors carved two Kannon statues out of a sacred tree. One of them was enshrined here at Hasedera in Kamakura. It is commonly called “Eleven-headed Kannon” since it has eleven heads on top of its own head. It measures 9.18 meters tall and this makes it one of the largest wooden Buddhist statues in Japan.

								.col-lg-4.col-md-6 
									.card.card-custom.with-hover 
										.card-image 
											img(src="asset/img/page-banner-4.png", alt="")
										.card-body
											a(href="region-eastjapan.html").card-subtitle East Japan
											h5.card-title 
												a(href="#") Lorem Ipsum
											.card-p 
												|Around 1300 years ago, two sculptors carved two Kannon statues out of a sacred tree. One of them was enshrined here at Hasedera in Kamakura. It is commonly called “Eleven-headed Kannon” since it has eleven heads on top of its own head. It measures 9.18 meters tall and this makes it one of the largest wooden Buddhist statues in Japan.

								.col-lg-4.col-md-6 
									.card.card-custom.with-hover 
										.card-image 
											img(src="asset/img/page-banner-4.png", alt="")
										.card-body
											a(href="region-eastjapan.html").card-subtitle East Japan
											h5.card-title 
												a(href="#") Lorem Ipsum
											.card-p 
												|Around 1300 years ago, two sculptors carved two Kannon statues out of a sacred tree. One of them was enshrined here at Hasedera in Kamakura. It is commonly called “Eleven-headed Kannon” since it has eleven heads on top of its own head. It measures 9.18 meters tall and this makes it one of the largest wooden Buddhist statues in Japan.
							
							.button.text-center.mt-3
								a(href="#").btn.btn-primary Learn More

				section.section(data-aos="fade-up" data-aos-duration="500")
					.container
						h3.text-center SUMMER
						h5.text-center June - August
						.section-content
							p 
								|Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
								|Ut wisi enim ad minim veniam, quis nostrud exerci 
								|Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
								|Ut wisi enim ad minim veniam, quis nostrud exerci 

							.row.mt-5
								.col-lg-4.col-md-6 
									.card.card-custom.with-hover 
										.card-image 
											img(src="asset/img/page-banner-4.png", alt="")
										.card-body
											a(href="region-eastjapan.html").card-subtitle East Japan
											h5.card-title 
												a(href="#") Lorem Ipsum
											.card-p 
												|Around 1300 years ago, two sculptors carved two Kannon statues out of a sacred tree. One of them was enshrined here at Hasedera in Kamakura. It is commonly called “Eleven-headed Kannon” since it has eleven heads on top of its own head. It measures 9.18 meters tall and this makes it one of the largest wooden Buddhist statues in Japan.

								.col-lg-4.col-md-6 
									.card.card-custom.with-hover 
										.card-image 
											img(src="asset/img/page-banner-4.png", alt="")
										.card-body
											a(href="region-eastjapan.html").card-subtitle East Japan
											h5.card-title 
												a(href="#") Lorem Ipsum
											.card-p 
												|Around 1300 years ago, two sculptors carved two Kannon statues out of a sacred tree. One of them was enshrined here at Hasedera in Kamakura. It is commonly called “Eleven-headed Kannon” since it has eleven heads on top of its own head. It measures 9.18 meters tall and this makes it one of the largest wooden Buddhist statues in Japan.

								.col-lg-4.col-md-6 
									.card.card-custom.with-hover 
										.card-image 
											img(src="asset/img/page-banner-4.png", alt="")
										.card-body
											a(href="region-eastjapan.html").card-subtitle East Japan
											h5.card-title 
												a(href="#") Lorem Ipsum
											.card-p 
												|Around 1300 years ago, two sculptors carved two Kannon statues out of a sacred tree. One of them was enshrined here at Hasedera in Kamakura. It is commonly called “Eleven-headed Kannon” since it has eleven heads on top of its own head. It measures 9.18 meters tall and this makes it one of the largest wooden Buddhist statues in Japan.
							
							.button.text-center.mt-3
								a(href="#").btn.btn-primary Learn More

				section.section(data-aos="fade-up" data-aos-duration="500")
					.container
						h3.text-center AUTUMN
						h5.text-center September - November
						.section-content
							p 
								|Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
								|Ut wisi enim ad minim veniam, quis nostrud exerci 
								|Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
								|Ut wisi enim ad minim veniam, quis nostrud exerci 

							.row.mt-5
								.col-lg-4.col-md-6 
									.card.card-custom.with-hover 
										.card-image 
											img(src="asset/img/page-banner-4.png", alt="")
										.card-body
											a(href="region-eastjapan.html").card-subtitle East Japan
											h5.card-title 
												a(href="#") Lorem Ipsum
											.card-p 
												|Around 1300 years ago, two sculptors carved two Kannon statues out of a sacred tree. One of them was enshrined here at Hasedera in Kamakura. It is commonly called “Eleven-headed Kannon” since it has eleven heads on top of its own head. It measures 9.18 meters tall and this makes it one of the largest wooden Buddhist statues in Japan.

								.col-lg-4.col-md-6 
									.card.card-custom.with-hover 
										.card-image 
											img(src="asset/img/page-banner-4.png", alt="")
										.card-body
											a(href="region-eastjapan.html").card-subtitle East Japan
											h5.card-title 
												a(href="#") Lorem Ipsum
											.card-p 
												|Around 1300 years ago, two sculptors carved two Kannon statues out of a sacred tree. One of them was enshrined here at Hasedera in Kamakura. It is commonly called “Eleven-headed Kannon” since it has eleven heads on top of its own head. It measures 9.18 meters tall and this makes it one of the largest wooden Buddhist statues in Japan.

								.col-lg-4.col-md-6 
									.card.card-custom.with-hover 
										.card-image 
											img(src="asset/img/page-banner-4.png", alt="")
										.card-body
											a(href="region-eastjapan.html").card-subtitle East Japan
											h5.card-title 
												a(href="#") Lorem Ipsum
											.card-p 
												|Around 1300 years ago, two sculptors carved two Kannon statues out of a sacred tree. One of them was enshrined here at Hasedera in Kamakura. It is commonly called “Eleven-headed Kannon” since it has eleven heads on top of its own head. It measures 9.18 meters tall and this makes it one of the largest wooden Buddhist statues in Japan.
							
							.button.text-center.mt-3
								a(href="#").btn.btn-primary Learn More

				include ./component/section-home-faq.pug
				include ./component/section-home-cta.pug

		include ./include/footer.pug
		include ./component/menu-mobile.pug
		include ./include/script.pug