- var title = "Temple - Interest - Maya Elite Tour"
- var page = "level2page"
include ./component/mixins.pug

doctype html 
html(lang="en")
	head 
		include ./include/head.pug
	body 
		.wrapper
			include ./include/header.pug

			#mainContent
				section.section.section-page-header
					.img-bg.parallax-item(style="background-image: url(asset/img/page-banner-4.png);")
					//- .img-bg
					//- 	img(src="asset/img/page-banner-4.png" alt="")

				section.section.no-divider.pt-0(data-aos="fade-up" data-aos-duration="500")
					.container
						
						.section-content
							div(data-aos="fade-up" data-aos-duration="1000")
								h3.text-center.mb-4 TEMPLES
								p
									|Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
									|Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it 
									|to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
									|Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
									|Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it 
									|to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

							.box-card
								.row 
									.col-lg-4.col-md-6 
										.card.card-custom.with-hover 
											.card-image 
												img(src="asset/img/page-banner-4.png", alt="")
											.card-body
												a(href="region-eastjapan.html").card-subtitle East Japan
												h5.card-title 
													a(href="temple-detail.html") Hase-dera (Kamakura)
												a(href="prefecture-detail.html").card-subtitle-2 Kanagawa Prefecture
												.card-p 
													|Around 1300 years ago, two sculptors carved two Kannon statues out of a sacred tree. One of them was enshrined here at Hasedera in Kamakura. It is commonly called “Eleven-headed Kannon” since it has eleven heads on top of its own head. It measures 9.18 meters tall and this makes it one of the largest wooden Buddhist statues in Japan.

									.col-lg-4.col-md-6 
										.card.card-custom.with-hover 
											.card-image 
												img(src="asset/img/page-banner-5.png", alt="")
											.card-body
												a(href="region-eastjapan.html").card-subtitle West Japan
												h5.card-title 
													a(href="temple-detail.html") Kiyomizudera
												a(href="prefecture-detail.html").card-subtitle-2 Kyoto Prefecture
												.card-p 
													|Around 1300 years ago, two sculptors carved two Kannon statues out of a sacred tree. One of them was enshrined here at Hasedera in Kamakura. It is commonly called “Eleven-headed Kannon” since it has eleven heads on top of its own head. It measures 9.18 meters tall and this makes it one of the largest wooden Buddhist statues in Japan.

									.col-lg-4.col-md-6 
										.card.card-custom.with-hover 
											.card-image 
												img(src="asset/img/page-banner-6.png", alt="")
											.card-body
												a(href="region-eastjapan.html").card-subtitle East Japan
												h5.card-title 
													a(href="temple-detail.html") Sensoji
												a(href="prefecture-detail.html").card-subtitle-2 Tokyo Prefecture
												.card-p 
													|Around 1300 years ago, two sculptors carved two Kannon statues out of a sacred tree. One of them was enshrined here at Hasedera in Kamakura. It is commonly called “Eleven-headed Kannon” since it has eleven heads on top of its own head. It measures 9.18 meters tall and this makes it one of the largest wooden Buddhist statues in Japan.

									.col-lg-4.col-md-6 
										.card.card-custom.with-hover 
											.card-image 
												img(src="asset/img/page-banner-4.png", alt="")
											.card-body
												a(href="region-eastjapan.html").card-subtitle East Japan
												h5.card-title 
													a(href="temple-detail.html") Hase-dera (Kamakura)
												a(href="prefecture-detail.html").card-subtitle-2 Kanagawa Prefecture
												.card-p 
													|Around 1300 years ago, two sculptors carved two Kannon statues out of a sacred tree. One of them was enshrined here at Hasedera in Kamakura. It is commonly called “Eleven-headed Kannon” since it has eleven heads on top of its own head. It measures 9.18 meters tall and this makes it one of the largest wooden Buddhist statues in Japan.

									.col-lg-4.col-md-6 
										.card.card-custom.with-hover 
											.card-image 
												img(src="asset/img/page-banner-5.png", alt="")
											.card-body
												a(href="region-eastjapan.html").card-subtitle West Japan
												h5.card-title 
													a(href="temple-detail.html") Kiyomizudera
												a(href="prefecture-detail.html").card-subtitle-2 Kyoto Prefecture
												.card-p 
													|Around 1300 years ago, two sculptors carved two Kannon statues out of a sacred tree. One of them was enshrined here at Hasedera in Kamakura. It is commonly called “Eleven-headed Kannon” since it has eleven heads on top of its own head. It measures 9.18 meters tall and this makes it one of the largest wooden Buddhist statues in Japan.

									.col-lg-4.col-md-6 
										.card.card-custom.with-hover 
											.card-image 
												img(src="asset/img/page-banner-6.png", alt="")
											.card-body
												a(href="region-eastjapan.html").card-subtitle East Japan
												h5.card-title 
													a(href="temple-detail.html") Sensoji
												a(href="prefecture-detail.html").card-subtitle-2 Tokyo Prefecture
												.card-p 
													|Around 1300 years ago, two sculptors carved two Kannon statues out of a sacred tree. One of them was enshrined here at Hasedera in Kamakura. It is commonly called “Eleven-headed Kannon” since it has eleven heads on top of its own head. It measures 9.18 meters tall and this makes it one of the largest wooden Buddhist statues in Japan.

									.col-lg-4.col-md-6 
										.card.card-custom.with-hover 
											.card-image 
												img(src="asset/img/page-banner-4.png", alt="")
											.card-body
												a(href="region-eastjapan.html").card-subtitle East Japan
												h5.card-title 
													a(href="temple-detail.html") Hase-dera (Kamakura)
												a(href="prefecture-detail.html").card-subtitle-2 Kanagawa Prefecture
												.card-p 
													|Around 1300 years ago, two sculptors carved two Kannon statues out of a sacred tree. One of them was enshrined here at Hasedera in Kamakura. It is commonly called “Eleven-headed Kannon” since it has eleven heads on top of its own head. It measures 9.18 meters tall and this makes it one of the largest wooden Buddhist statues in Japan.

									.col-lg-4.col-md-6 
										.card.card-custom.with-hover 
											.card-image 
												img(src="asset/img/page-banner-5.png", alt="")
											.card-body
												a(href="region-eastjapan.html").card-subtitle West Japan
												h5.card-title 
													a(href="temple-detail.html") Kiyomizudera
												a(href="prefecture-detail.html").card-subtitle-2 Kyoto Prefecture
												.card-p 
													|Around 1300 years ago, two sculptors carved two Kannon statues out of a sacred tree. One of them was enshrined here at Hasedera in Kamakura. It is commonly called “Eleven-headed Kannon” since it has eleven heads on top of its own head. It measures 9.18 meters tall and this makes it one of the largest wooden Buddhist statues in Japan.

									.col-lg-4.col-md-6 
										.card.card-custom.with-hover 
											.card-image 
												img(src="asset/img/page-banner-6.png", alt="")
											.card-body
												a(href="region-eastjapan.html").card-subtitle East Japan
												h5.card-title 
													a(href="temple-detail.html") Sensoji
												a(href="prefecture-detail.html").card-subtitle-2 Tokyo Prefecture
												.card-p 
													|Around 1300 years ago, two sculptors carved two Kannon statues out of a sacred tree. One of them was enshrined here at Hasedera in Kamakura. It is commonly called “Eleven-headed Kannon” since it has eleven heads on top of its own head. It measures 9.18 meters tall and this makes it one of the largest wooden Buddhist statues in Japan.


				include ./component/section-home-faq.pug
				include ./component/section-home-cta.pug

		include ./include/footer.pug
		include ./component/menu-mobile.pug
		include ./include/script.pug
