- var title = "Car - Transportation - Interest - Maya Elite Tour"
- var page = "level3page"
include ./component/mixins.pug

doctype html 
html(lang="en")
	head 
		include ./include/head.pug
	body 
		.wrapper
			include ./include/header.pug

			#mainContent
				section.section.section-page-header.medium
					.img-bg.parallax-item(style="background-image: url(asset/img/page-banner-8.png);")
						//- img(src="asset/img/page-banner-6.png" alt="")

				section.section.no-divider.pt-0(data-aos="fade-up" data-aos-duration="500")
					.container
						
						.section-content
							div(data-aos="fade-up" data-aos-duration="1000")
								h3.text-center.mb-4 Car
								p
									|Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
									|Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it 
									|to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
									|Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
									|Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it 
									|to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
								p
									|Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
									|Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it 
									|to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
									|Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
									|Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it 
									|to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
							
							.box-card
								.row 
									.col-lg-4.col-md-6 
										.card.card-custom.with-hover 
											a.card-image.image-popup(href="asset/img/car-8.png")
												img(src="asset/img/car-8.png", alt="")
									.col-lg-4.col-md-6 
										.card.card-custom.with-hover 
											a.card-image.image-popup(href="asset/img/car-1.png")
												img(src="asset/img/car-1.png", alt="")
									.col-lg-4.col-md-6 
										.card.card-custom.with-hover 
											a.card-image.image-popup(href="asset/img/car-2.png")
												img(src="asset/img/car-2.png", alt="")
									.col-lg-4.col-md-6 
										.card.card-custom.with-hover 
											a.card-image.image-popup(href="asset/img/car-3.png")
												img(src="asset/img/car-3.png", alt="")
									.col-lg-4.col-md-6 
										.card.card-custom.with-hover 
											a.card-image.image-popup(href="asset/img/car-5.png")
												img(src="asset/img/car-5.png", alt="")
									.col-lg-4.col-md-6 
										.card.card-custom.with-hover 
											a.card-image.image-popup(href="asset/img/car-6.png")
												img(src="asset/img/car-6.png", alt="")
									.col-lg-4.col-md-6 
										.card.card-custom.with-hover 
											a.card-image.image-popup(href="asset/img/car-7.png")
												img(src="asset/img/car-7.png", alt="")
									.col-lg-4.col-md-6 
										.card.card-custom.with-hover 
											a.card-image.image-popup(href="asset/img/car-9.png")
												img(src="asset/img/car-9.png", alt="")
									.col-lg-4.col-md-6 
										.card.card-custom.with-hover 
											a.card-image.image-popup(href="asset/img/car-4.png")
												img(src="asset/img/car-4.png", alt="")
				
				section.section.no-divider.pt-0.section-why(data-aos="fade-up" data-aos-duration="500")
					.container
						.section-content
							.row
								.col-md-6
									.card.border-0(data-aos="fade-up" data-aos-duration="500" data-aos-delay="100")
										.card-body.p-0
											.card-icon
												img(src="/asset/img/icon-why-car-1.png" alt="")
											h5.card-title Variety of Car Brands
											p.card-text
												|Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
												|Ut wisi enim ad minim veniam, quis nostrud exerci 
								.col-md-6
									.card.border-0(data-aos="fade-up" data-aos-duration="500" data-aos-delay="300")
										.card-body.p-0
											.card-icon
												img(src="/asset/img/icon-why-car-2.png" alt="")
											h5.card-title Best Rate Guarantee
											p.card-text
												|Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
												|Ut wisi enim ad minim veniam, quis nostrud exerci 
								.col-md-6
									.card.border-0(data-aos="fade-up" data-aos-duration="500" data-aos-delay="500")
										.card-body.p-0
											.card-icon
												img(src="/asset/img/icon-why-car-3.png" alt="")
											h5.card-title Awesome Customer Support
											p.card-text
												|Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
												|Ut wisi enim ad minim veniam, quis nostrud exerci 
								.col-md-6
									.card.border-0(data-aos="fade-up" data-aos-duration="500" data-aos-delay="700")
										.card-body.p-0
											.card-icon
												img(src="/asset/img/icon-why-car-4.png" alt="")
											h5.card-title 10+ Years of Travel Experience
											p.card-text
												|Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
												|Ut wisi enim ad minim veniam, quis nostrud exerci 


				include ./component/section-home-faq.pug
				include ./component/section-home-cta.pug

		include ./include/footer.pug
		include ./component/menu-mobile.pug
		include ./include/script.pug
