

footer.footer(data-aos="fade-up" data-aos-duration="1000")
	.container
		.footer_content
			.row
				.col-lg-4.col-sm-6.col-12
					.footer-logo
						<img src="/asset/img/logo-footer.png" alt="">
				.col-lg-5.col-sm-6.col-12
					h3 MAYA ELITE TOUR
					.footer_address
						|Japan Osaka, Sakai 2-2-11
					ul.footer_contact
						li
							a(href="tel:+628062392324")
								span.icon-link
									i.fa.fa-phone
								|080-6239-2324
						li
							a(href="mailto:info@mayaelitetour.com")
								span.icon-link
									i.fa.fa-envelope
								|info@mayaelitetour.com
						li
							a(href="#")
								span.icon-link
									i.fa.fa-globe
								|www.mayaelitetour.com
				.col-lg-3.col-md-12
					ul.footer_socmed
						li
							a(href="https://facebook.com" target="_blank")
								span.icon-link
									i.fa.fa-facebook
								|mayaelitetour.com
						li
							a(href="https://instagram.com" target="_blank")
								span.icon-link
									i.fa.fa-instagram
								|mayaelitetour.com
							
					ul.footer_other-link
						li
							a(href="#")
								|Privacy
						li
							a(href="#")
								|Terms & Conditions

					.footer_copy
						|Copyright© 2023 MET