
header.header.sticky-header
	.header-top.container
		.header-top_link(data-aos="fade-down" data-aos-duration="1000")
			ul
				li
					a(href="https://www.google.com/maps/search/Japan+Osaka,+Sakai+2-2-11/@34.5759702,135.4433409,14z" target="_blank")
						img(src="/asset/img/icon-pin.png" alt="" class="icon-image")
						span.only-desktop Japan Osaka, Sakai 2-2-11
				li
					a(href="tel:+628062392324")
						img(src="/asset/img/icon-phone.png" alt="" class="icon-image")
						span.only-desktop 080-6239-2324
				li
					a(href="about.html")
						img(src="/asset/img/icon-people.png" alt="" class="icon-image")
						span.only-desktop About
				
		.header-top_right(data-aos="fade-down" data-aos-duration="1000")
			ul
				li
					.btn-group.dropleft
						a(href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
							img(src="/asset/img/icon-lang.png" alt="" class="icon-image")
							|English
						.dropdown-menu
							a(class="dropdown-item" href="#") Bahasa
							a(class="dropdown-item" href="#") English
				li
					a(href="javascript:;" class="trigger-search")
						img(src="/asset/img/icon-search.png" alt="" class="icon-image")
		
	.header-menu(data-aos="fade-down" data-aos-duration="500" data-aos-delay="200")
		.container
			.header-menu_logo(data-aos="zoom-in" data-aos-duration="1000")
				a(href="index.html")
					img(src="/asset/img/logo-met-white.png" alt="")
			.header-menu-list 
				include main-menu.pug
				
	.search-top-container.container
		form(action="#")
			.input-group.mb-3
				input(type="text" class="form-control" placeholder="Enter keywords & hit Enter")
				.input-group-append
					a.btn.btn-primary.close-search(href="javascript:;") X