title #{title}
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="keywords" content="Maya Elite Tour")
meta(name="description" content="Maya Elite Tour")
meta(name="viewport" content="width=device-width, initial-scale=1")

meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="apple-touch-fullscreen" content="yes")
link(rel="apple-touch-icon" sizes="180x180" href="/asset/img/favicon/apple-touch-icon.png")
link(rel="icon" type="image/png" sizes="32x32" href="/asset/img/favicon/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="16x16" href="/asset/img/favicon/favicon-16x16.png")
link(rel="manifest" href="/asset/img/favicon/site.webmanifest")
meta(name="msapplication-TileColor" content="#A37e2c")
meta(name="msapplication-TileImage" content="/asset/img/favicon/apple-touch-icon.png")
meta(name="theme-color" content="#A37e2c")

link(rel="stylesheet" media="screen" href="/vendor/mhead/dist/jquery.mmenu.all.css")
link(rel="stylesheet" media="screen" href="/asset/css/main-min.css")
script(type="text/javascript" src="/vendor/jquery/jquery.min.js")
script(type="text/javascript" src="/vendor/bootstrap/js/bootstrap.bundle.min.js")
script(type="text/javascript" src="/vendor/mhead/dist/jquery.mmenu.all.js")

