ul
	li.dropdown  
		a(href="kabar.html") Kabar
		i.fa.fa-chevron-down
		.dropdown-content 
			ul 
				li 
					a(href="kabar-siaran-pers.html") Siaran Pers
				li 
					a(href="kabar-berita.html") Berita
				li 
					a(href="kabar-kegiatan.html") Kegiatan
	li.dropdown  
		a(href="dokumen.html") Dokumen
		i.fa.fa-chevron-down
		.dropdown-content 
			ul 
				li 
					a(href="dokumen-riset.html") Riset
				li 
					a(href="dokumen-modul.html") Modul
				li 
					a(href="dokumen-buku.html") Buku
				li 
					a(href="dokumen-audit.html") Audit
				li 
					a(href="dokumen-laporan-tahunan.html") Laporan Tahunan
	li 
		a(href="amsi-crisis-center.html") AMSI Crisis Center
	li 
		a(href="agensi-amsi.html") Agensi AMSI
	li 
		a(href="trust-worthy-news.html") Trust Worthy News