script(type="text/javascript" src="/vendor/slick/slick.min.js")
script(type="text/javascript" src="/vendor/aos/aos.js")
script(type="text/javascript" src="/vendor/magnific-popup/jquery.magnific-popup.min.js")
script(type="text/javascript" src="/vendor/daterangepicker/moment.min.js")
script(type="text/javascript" src="/vendor/daterangepicker/daterangepicker.js")
script(type="text/javascript" src="/vendor/jquery-jvectormap-2.0.5/jquery-jvectormap-2.0.5.min.js")
script(type="text/javascript" src="/asset/map/japan.js")
script(type="text/javascript" src="/asset/js/main-min.js")
